<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EEIT109_35</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>demoRegisteredMember</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.registered.RegisteredMember</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demoRegisteredMember</servlet-name>
		<url-pattern>/RegisteredMember.do</url-pattern>
	</servlet-mapping>

	
		<servlet>
		<servlet-name>demoFBOrGoogleLogin</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.login.FBOrGoogleLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demoFBOrGoogleLogin</servlet-name>
		<url-pattern>/FBOrGoogleLogin.do</url-pattern>
	</servlet-mapping>
	
	
	
		<servlet>
		<servlet-name>DemoChangePassword</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.changePassword.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoChangePassword</servlet-name>
		<url-pattern>/ChangePassword.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>LoginMember</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.login.LoginMember</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginMember</servlet-name>
		<url-pattern>/LoginMember.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InsertMemberImfo</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.registered.InsertMemberImfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertMemberImfo</servlet-name>
		<url-pattern>/InsertMemberImfo.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOutMember</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.logout.LogOutMember</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutMember</servlet-name>
		<url-pattern>/LogOutMember.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FerGetPWD</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.forgetPWD.FerGetPWD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FerGetPWD</servlet-name>
		<url-pattern>/FerGetPWD.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>forgetPWDInsertNewPassowrd</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.forgetPWD.forgetPWDInsertNewPassowrd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forgetPWDInsertNewPassowrd</servlet-name>
		<url-pattern>/forgetPWDInsertNewPassowrd.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Check_Repeat</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.registered.Check_Repeat</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check_Repeat</servlet-name>
		<url-pattern>/Check_Repeat.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberDetails</servlet-name>
		<servlet-class>com.eeit109team6.servletmember.memberDetail.MemberDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberDetails</servlet-name>
		<url-pattern>/MemberDetails.do</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>JNDI DataSource </description>
		<res-ref-name>connectSqlServerJdbc/HibernateService</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	
 

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


</web-app>